#site{
	/* Definimos a largura da página */
	width:1000px;
	/* Definirmos a altura da página*/
	height:700px;
	/* Aqui definiremos a posição que a página ocupará na tela, nesse caso estamos definindo que fique centralizado na tela*/
	/*top : posição de cima */
	margin-top:0;
	/* left: posição de esquerda*/
	margin-left:auto;
	/* bottom : posição de baixo */
	margin-bottom:0;
	/* right : posição de direita */
	margin-right:auto;
	/* Aqui definiremos a cor de fundo da página */
	background-color:#666;
}